@import "../../styles/mixins";

.container {
  display: block;
  border-radius: 24px;
  border: 2px solid;
  background-color: inherit;

  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */

  text-align: center;

  height: 48px;

  cursor: pointer;
}

.primary {
  border-color: $primary-color-300;
  color: $primary-color-300;

  @include tablet {
    width: 153px;
  }
}

.secondary {
    border-color: $secondary-color-400;
    color: $secondary-color-400;

    width: 153px;
}