@import "../../styles/mixins";

.container {
  @include flexCenter(column);

  gap: 24px;

  @include desktop {
    flex: 1;
  }
}

.inputContainer {
  display: block;
  position: relative;

  input {
    padding-left: 14px;
    padding-bottom: 17px;
    width: 100%;
    background-color: inherit;
    color: $primary-color-300;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
    letter-spacing: -0.115px;

    border: none;
    border-bottom: 1px solid $primary-color-300;

    &:focus,
    &:valid {
      outline: none;
      border-bottom: 1px solid $secondary-color-100;
    }

    &:user-invalid {
      border-bottom-color: $primary-color-200;
      color: $primary-color-200;
    }
  }

  label {
    display: none;
    border: none;
  }
}

.textareaContainer {
  display: block;
  position: relative;

  textarea {
    width: 100%;
    padding-left: 14px;

    background-color: inherit;
    border: 1px solid transparent;
    outline: none;

    color: $primary-color-300;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
    letter-spacing: -0.115px;
    border: none;
    border-bottom: 1px solid $primary-color-300;

    &:focus,
    &:valid {
      outline: none;
      border-bottom: 1px solid $secondary-color-100;
    }

    &:user-invalid {
      border-bottom-color: $primary-color-200;

      color: $primary-color-200;
    }
  }
}

.error {
  display: block;
  color: $primary-color-200;
  font-size: 10px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;

  position: absolute;
  bottom: -19px;
  left: 14px;
}
