$primary-color-100: hsla(186, 97%, 17%, 1);
$primary-color-200: hsla(0, 87%, 73%, 1);
$primary-color-300: hsla(0, 0%, 100%, 1);
$primary-color-400: hsla(0, 0%, 0%, 0.50);

$secondary-color-100: hsla(179, 41%, 63%, 1);
$secondary-color-200: hsla(187, 41%, 29%, 1);
$secondary-color-300: hsla(186, 100%, 14%, 1);
$secondary-color-400: hsla(186, 97%, 10%, 1);
$secondary-color-500: hsla(186, 100%, 8%, 1);
$secondary-color-600: hsla(179, 100%, 88%, 1);

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin maxWidth {
  margin-inline: auto;
  width: min(77vw, 1110px);
}

@mixin desktop {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
